@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #021024;
    color: #7DA0CA;

    margin-top: 10px;
    margin-left: 30%;
    margin-right: 30%;

    font-size: 18px;

    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

@media only screen and (max-width: 600px) {
      body {
        margin: 0;
      }
    }

a {
    text-decoration: none;
    color: #7DA0CA;
}

.link {
    color: #c1e8ff;
    text-decoration: underline;
}

hr {
    border-color: #052659;
    color: #052659;
    background-color: #052659;

    margin-top: 15px;
}

.main-content .top-text {
    font-size: 20px;
    color: #c1e8ff;
}
